<%= form_for @student, :html => { :class => "form-horizontal student" } do |f| %>

    <% if @student.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :mentor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mentor_id, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:mentor_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sex, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:sex]) %>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:age]) %>
  </div>
  <div class="control-group">
    <%= f.label :DOB, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :DOB, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:DOB]) %>
  </div>
  <div class="control-group">
    <%= f.label :current_school, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_school, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:current_school]) %>
  </div>
  <div class="control-group">
    <%= f.label :current_level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_level, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:current_level]) %>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:country]) %>
  </div>
  <div class="control-group">
    <%= f.label :sat_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sat_score, :class => 'form-control' %>
    </div>
    <%= error_span(@student[:sat_score]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            students_path, :class => 'btn btn-default' %>

<% end %>
