<%- model_class = Student -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:mentor_id) %>:</strong></dt>
  <dd><%= @student.mentor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @student.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @student.sex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age) %>:</strong></dt>
  <dd><%= @student.age %></dd>SSS
  <dt><strong><%= model_class.human_attribute_name(:DOB) %>:</strong></dt>
  <dd><%= @student.DOB %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_school) %>:</strong></dt>
  <dd><%= @student.current_school %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_level) %>:</strong></dt>
  <dd><%= @student.current_level %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @student.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sat_score) %>:</strong></dt>
  <dd><%= @student.sat_score %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              students_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_student_path(@student), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              student_path(@student),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
