<%= form_for @mentor, :html => { :class => "form-horizontal mentor" } do |f| %>

    <% if @mentor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@mentor.errors.count, "error") %> prohibited this mentor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @mentor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@mentor[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sex, :class => 'form-control' %>
    </div>
    <%= error_span(@mentor[:sex]) %>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%= error_span(@mentor[:age]) %>
  </div>
  <div class="control-group">
    <%= f.label :bio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bio, :class => 'form-control' %>
    </div>
    <%= error_span(@mentor[:bio]) %>
  </div>
  <div class="control-group">
    <%= f.label :DOB, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :DOB, :class => 'form-control' %>
    </div>
    <%= error_span(@mentor[:DOB]) %>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
    <%= error_span(@mentor[:image]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            mentors_path, :class => 'btn btn-default' %>

<% end %>
