<%= form_for @college, :html => { :class => "form-horizontal college" } do |f| %>

    <% if @college.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@college.errors.count, "error") %> prohibited this college from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @college.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@college[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'form-control' %>
    </div>
    <%= error_span(@college[:country]) %>
  </div>
  <div class="control-group">
    <%= f.label :sat_max_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sat_max_score, :class => 'form-control' %>
    </div>
    <%= error_span(@college[:sat_max_score]) %>
  </div>
  <div class="control-group">
    <%= f.label :sat_min_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sat_min_score, :class => 'form-control' %>
    </div>
    <%= error_span(@college[:sat_min_score]) %>
  </div>
  <div class="control-group">
    <%= f.label :tuition_fees, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tuition_fees, :class => 'form-control' %>
    </div>
    <%= error_span(@college[:tuition_fees]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            colleges_path, :class => 'btn btn-default' %>

<% end %>
